/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

/* Titles */
.title-bottom {
  width: 100%;
  background-color: #0e0d0d;
  padding: 20px;
  text-align: center;
  font-weight: 800;
  color: #fff;
}

.title-top {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 800;
  color: #000;
  font-size: 1.1rem;
  border-bottom: 2px solid #000;
}

.title-small {
  width: 100%;
  background-color: #0e0d0d;
  padding: 5px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  font-size: 0.9rem;
}

.title-bottom a:visited {
  color: #fff;
}

/* Tags / Badges */
.badge-row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 40px 45px;
  justify-content: start;
  gap: 15px;
  background-color: #fdfdfd;
}

.tag {
  font-size: 1rem; 
  font-weight: 600;
  padding: 5px 15px;
  line-height: 1.25rem;
  box-sizing: border-box;
}

.success {
  background-color: #D1FAE5;
  color: #065F46;
  --highlight-color: #34D399;
}

.warning {
  background-color: #FFFBEB;
  color: #B45309;
  --highlight-color: #FBBF24;
}

.error {
  background-color: #FEF2F2;
  color: #B45309;
  --highlight-color: #F87171;
}

.neutral {
  background-color: #EFF6FF;
  color: #1C51B9;
  --highlight-color: #60A5FA;
}

.tag-general {
  background-color: #F3F4F6;
  color: #1F2937;
}
.tag-error {
  background-color: #FEE2E2;
  color: #991B1B;
}
.tag-alert {
  background-color: #FEF3C7;
  color: #92400E;
}
.tag-success {
  background-color: #D1FAE5;
  color: #065F46;
}
.tag-primary {
  background-color: #DBEAFE;
  color: #1E40AF;
}
.tag-secondary {
  background-color: #E0E7FF;
  color: #3730A3;
}
.tag-teritary {
  background-color:#EDE9FE;
  color: #5B21B6;
}
.tag-alternate {
  background-color: #FCE7F3;
  color: #9D174D;
}
.rounded-tag {
  border-radius: 0.625rem; 
}
.square-tag {
  border-radius: 0.0625rem; 
}

/* Banner */
.banner-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 40px 40px 40px;
  background-color: #e0e0e0;
  width: 100%;
  box-sizing: border-box;
}

.banner {
  display: flex;
  padding: 20px 10px;
  border-radius: 8px;
  max-width: 896px;
}

.icon-wrapper {
  flex-direction: column;
  font-size: 1.3rem;
  padding-right: 20px;
  padding-left: 5px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
}

/* Card */
.card-row {
  display: flex;
  background-color: #fdfdfd;
  padding: 50px 40px 50px 45px;
  gap: 20px;
}

.card-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 30px 0 20px 0;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
  color: #6B7280;
  line-height: 1.6;
  margin-bottom: 15px;
}

.card {
  padding: 0 10px 45px 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  max-width: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s ease, transform 0.5s ease;
}

.card.light {
  background-color: #f9f9f9;
  color: #111827; 
}
.card.light .card-header {
  color: #111827; 
}

.card.light .card-text {
  color: #494e57; 
}

.card.dark {
  background-color: #1A2744;
  color: #15409d; 
}

.card.dark .card-header {
  color: #45ADFF;
}

.card.dark .card-text {
  color: #45ADFF;
}

.card.dark .icon {
    background-color: rgb(44, 41, 35);
    color: #45ADFF;
}

.icon {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: -20px;
  font-size: 1.6rem;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.hovered {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

/* Testimonials Text */
.testimonial-row, .testimonial-row-feature {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  padding: 80px 45px 80px 45px;
  gap: 100px;
}

.testimonial  {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
  background-color: #F9FAFB;
  max-width: 1050px;
  padding: 60px 150px 50px 150px;
  text-align: center;
  border-radius: 2px;
}

.testimonial > img {
  max-width: 150px;
  height: auto;
}

.testimonial p:first-of-type {
  font-size: 1.3rem;
  font-weight: 900;
  z-index: 1;
}

.testimonial-credentials {
  font-size: 1.1rem;
  font-weight: 900;
  z-index: 1;
}

.testimonial-dash {
  color: blue;
  font-weight: 800;
}

.pattern {
  position: absolute;
  width: 150px;
  height: 200px;
  left: 0;
  bottom: 0;
  background-image: url('./assets/pattern.png');
}

/* Testimonial Feature */
.testimonial-row-feature {
  background-color: #fdfdfd;
  padding-top: 150px;
}

.testimonial-feature  {
  position: relative;
  display: flex;
  color: #fff;
  background-color: #2545B8;
  max-width: 1050px;
  height: 280px; 
  border-radius: 10px;
  padding-left: 360px;
  margin-bottom: 50px;
}

.testimonial-feature-image {
  position: absolute;
  top: -34px;
  left: 40px;
  height: auto;
  width: 284px;
  border-radius: 10px;
}

.testimonial-feature-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 1.22rem;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.testimonial-feature-text :first-child {
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.25);
}

.testimonial-feature-text p {
  font-size: 1rem;
  font-weight: 900;
}

.company {
  font-weight: 200;
}

/* Testimonial Responsive */

@media (min-width: 701px) and (max-width: 800px) {
  .testimonial-feature {
    border: 2px solid green;
    height: 300px;
  }
  .testimonial-feature-text :first-child {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.25);
  }
  .testimonial-feature-text {
    gap: 15px;
    font-size: 1.1rem;
    padding-bottom: 2px;
  }
}

@media (max-width: 700px) {

  .testimonial-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 700px;
    padding: 0px !important;
    overflow: visible;
  }

  .testimonial-feature-image {
    border-radius: 10px;
    position: static;
    width: 90%;
    transform: translateY(-100px);
  }

  .testimonial-feature-text :first-child {
    font-size: 3.3rem;
    color: rgba(255, 255, 255, 0.25);
  }

  .testimonial-feature-text {
    font-size: 1.6rem;
    gap: 35px;
    padding-left: 30px;
    margin-top: -40px;
  }
}

@media (max-width: 650px) {
  .testimonial {
    padding: 45px 30px 20px 30px;
    text-align: left;
  }
}